# Banco de dados
DB_URL=jdbc:postgresql://host.docker.internal:5432/simulapronaf
DB_USERNAME=postgres
DB_PASSWORD=sua_senha

# Google OAuth
GOOGLE_WEB_CLIENT_ID=seu-client-id.apps.googleusercontent.com

# Chaves JWT (caminho dentro do container via volume)
JWT_PRIVATE_KEY=/run/secrets/app.key
JWT_PUBLIC_KEY=/run/secrets/app.pub
